In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

# File to Load (Remember to Change These)
path1 = "data/Customers.csv"
path2 = "data/Managers.csv"
path3 = "data/Orders.csv"
path4 = "data/Returns.csv"

# Read Files and store into Pandas data frame
customers_df = pd.read_csv(path1, encoding = "latin-1")
managers_df = pd.read_csv(path2, encoding = "latin-1")
orders_df = pd.read_csv(path3, encoding = "latin-1")
returns_df = pd.read_csv(path4, encoding = "latin-1")

# For the orders.csv

In [2]:
orders_df.head()

,ROW_ID,ORDER_ID,ORDER_DATE,PRIORITY,QUANTITY,SALES,DISCOUNT,MODE,PROFIT,UNIT_PRICE,SHIPPING_COSTS,CUSTOMER_ID,PROVINCE,REGION,SEGMENT,CATEGORY,SUB_CATEGORY,PRODUCT_NAME,PRODUCT_CONTAINER,SHIP_DATE
0,1,3,10/13/1982,Low,6,261.5400,0.04,Regular Air,-213.25,38.94,35.00,1,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,10/20/2010
1,2,6,2/20/2012,Not Specified,2,6.9300,0.01,Regular Air,-4.64,2.08,2.56,782,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Pack,2/21/2012
2,5,32,7/15/2011,High,23,160.2335,0.04,Regular Air,-85.13,7.99,5.03,653,Alberta,West,Corporate,Technology,Telephones and Communication,Bell Sonecor JB700 Caller ID,Medium Box,7/17/2011
3,4,32,7/15/2011,High,24,1761.4000,0.09,Delivery Truck,-1748.56,70.89,89.30,653,Alberta,West,Corporate,Furniture,Tables,KI Conference Tables,Jumbo Box,7/16/2011
4,3,32,7/15/2011,High,26,2808.0800,0.07,Regular Air,1054.82,107.53,5.81,653,Alberta,West,Corporate,Furniture,Office Furnishings,Tenex Contemporary Contur Chairmats for Low an...,Medium Box,7/17/2011

In [3]:
# Check headers
for col in orders_df.columns: 
    print(col)

ROW_ID
ORDER_ID
ORDER_DATE
PRIORITY
QUANTITY
SALES
DISCOUNT
MODE
PROFIT
UNIT_PRICE
SHIPPING_COSTS
CUSTOMER_ID
PROVINCE
REGION
SEGMENT
CATEGORY
SUB_CATEGORY
PRODUCT_NAME
PRODUCT_CONTAINER
SHIP_DATE

In [4]:
# Count values to know if there are any null or nan value in a new df
data_df = orders_df[['ROW_ID', 'ORDER_ID', 'ORDER_DATE', 'PRIORITY', 'QUANTITY', 'SALES', 'DISCOUNT', 'MODE', 'PROFIT', 'UNIT_PRICE', 'SHIPPING_COSTS', 'CUSTOMER_ID', 'PROVINCE', 'REGION', 'SEGMENT', 'CATEGORY', 'SUB_CATEGORY', 'PRODUCT_NAME', 'PRODUCT_CONTAINER', 'SHIP_DATE']]

count_data = data_df.count()

count_data

ROW_ID               8399
ORDER_ID             8399
ORDER_DATE           8399
PRIORITY             8399
QUANTITY             8399
SALES                8399
DISCOUNT             8399
MODE                 8399
PROFIT               8399
UNIT_PRICE           8399
SHIPPING_COSTS       8399
CUSTOMER_ID          8399
PROVINCE             8399
REGION               8399
SEGMENT              8399
CATEGORY             8399
SUB_CATEGORY         8399
PRODUCT_NAME         8399
PRODUCT_CONTAINER    8399
SHIP_DATE            8399
dtype: int64

In [5]:
# Know the values for priority column
data_df['PRIORITY'].unique()

array(['Low', 'Not Specified', 'High', 'Critical', 'Medium', 'High High',
       'C', 'L', 'N S', 'M', 'H'], dtype=object)

In [6]:
# Rename the values and group them
data_df['PRIORITY'] = data_df['PRIORITY'].replace({'C': 'Critical', 'L': 'Low', 'N S': 'Not Specified', 'H': 'High', 'High High': 'High', 'M': 'Medium'})

In [7]:
data_df['PRIORITY'].unique()

array(['Low', 'Not Specified', 'High', 'Critical', 'Medium'], dtype=object)

In [8]:
# Know the values for region column
data_df['REGION'].unique()

array(['Nunavut', 'West', 'Prarie', 'Ontario', 'Quebec', 'Yukon',
       'Atlantic', 'Northwest Territories', 'East'], dtype=object)

In [9]:
# Rename the values and group them
data_df['REGION'] = data_df['REGION'].replace({'East': 'The West Coast', 'West': 'The West Coast', 'Prarie': 'The Prarie Provinces', 'Ontario': 'Central Canada', 'Quebec': 'Central Canada', 'Nunavut': 'The Northern Territories', 'Yukon': 'The Northern Territories', 'Northwest Territories': 'The Northern Territories', 'Atlantic': 'The Atlantic Provinces'})

In [10]:
data_df['REGION'].unique()

array(['The Northern Territories', 'The West Coast',
       'The Prarie Provinces', 'Central Canada', 'The Atlantic Provinces'],
      dtype=object)

In [11]:
# Know the values for product container column
data_df['PRODUCT_CONTAINER'].unique()

array(['Large Box', 'Small Pack', 'Medium Box', 'Jumbo Box', 'Small Box',
       'Wrap Bag', 'Jumbo Drum', 'Small'], dtype=object)

In [12]:
# Rename the values and group them
data_df['PRODUCT_CONTAINER'] = data_df['PRODUCT_CONTAINER'].replace({'Small Pack': 'Small Box', 'Small': 'Small Box'})
data_df['PRODUCT_CONTAINER'].unique()

array(['Large Box', 'Small Box', 'Medium Box', 'Jumbo Box', 'Wrap Bag',
       'Jumbo Drum'], dtype=object)

In [13]:
data_df.dtypes

ROW_ID                 int64
ORDER_ID               int64
ORDER_DATE            object
PRIORITY              object
QUANTITY               int64
SALES                float64
DISCOUNT             float64
MODE                  object
PROFIT               float64
UNIT_PRICE           float64
SHIPPING_COSTS       float64
CUSTOMER_ID            int64
PROVINCE              object
REGION                object
SEGMENT               object
CATEGORY              object
SUB_CATEGORY          object
PRODUCT_NAME          object
PRODUCT_CONTAINER     object
SHIP_DATE             object
dtype: object

In [14]:
data_df.head()

,ROW_ID,ORDER_ID,ORDER_DATE,PRIORITY,QUANTITY,SALES,DISCOUNT,MODE,PROFIT,UNIT_PRICE,SHIPPING_COSTS,CUSTOMER_ID,PROVINCE,REGION,SEGMENT,CATEGORY,SUB_CATEGORY,PRODUCT_NAME,PRODUCT_CONTAINER,SHIP_DATE
0,1,3,10/13/1982,Low,6,261.5400,0.04,Regular Air,-213.25,38.94,35.00,1,Nunavut,The Northern Territories,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,10/20/2010
1,2,6,2/20/2012,Not Specified,2,6.9300,0.01,Regular Air,-4.64,2.08,2.56,782,Alberta,The West Coast,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut® Forged Office Shears by Acme United ...,Small Box,2/21/2012
2,5,32,7/15/2011,High,23,160.2335,0.04,Regular Air,-85.13,7.99,5.03,653,Alberta,The West Coast,Corporate,Technology,Telephones and Communication,Bell Sonecor JB700 Caller ID,Medium Box,7/17/2011
3,4,32,7/15/2011,High,24,1761.4000,0.09,Delivery Truck,-1748.56,70.89,89.30,653,Alberta,The West Coast,Corporate,Furniture,Tables,KI Conference Tables,Jumbo Box,7/16/2011
4,3,32,7/15/2011,High,26,2808.0800,0.07,Regular Air,1054.82,107.53,5.81,653,Alberta,The West Coast,Corporate,Furniture,Office Furnishings,Tenex Contemporary Contur Chairmats for Low an...,Medium Box,7/17/2011

# For the managers.csv

In [15]:
# Create a new df with managers csv
region_df = managers_df[['REGION', 'MANAGER']]
region_df

    REGION  MANAGER
0  Central     Doug
1     East     Erin
2    South      Sam
3     West  William

In [16]:
# Check the values for the region column
region_df['REGION'].unique()

array(['Central', 'East', 'South', 'West'], dtype=object)

In [17]:
# Rename the region names for the specific Canadian region
region_df['REGION'] = region_df['REGION'].replace({'Central': 'Central Canada', 'East': 'The Atlantic Provinces', 'South': 'The Prarie Provinces', 'West': 'The West Coast'})
region_df

                   REGION  MANAGER
0          Central Canada     Doug
1  The Atlantic Provinces     Erin
2    The Prarie Provinces      Sam
3          The West Coast  William

In [18]:
# Create a new row for the future Northern manager
new_row = {'REGION': 'The Northern Territories'}
region_df = region_df.append(new_row, ignore_index=True)
region_df

                     REGION  MANAGER
0            Central Canada     Doug
1    The Atlantic Provinces     Erin
2      The Prarie Provinces      Sam
3            The West Coast  William
4  The Northern Territories      NaN

In [19]:
# Merge orders and managers dataframe on "REGION" so we can see the Region Manager 
merged = pd.merge(data_df, region_df, on="REGION", how="inner")
merged.head()

,ROW_ID,ORDER_ID,ORDER_DATE,PRIORITY,QUANTITY,SALES,DISCOUNT,MODE,PROFIT,UNIT_PRICE,...,CUSTOMER_ID,PROVINCE,REGION,SEGMENT,CATEGORY,SUB_CATEGORY,PRODUCT_NAME,PRODUCT_CONTAINER,SHIP_DATE,MANAGER
0,1,3,10/13/1982,Low,6,261.54,0.04,Regular Air,-213.25,38.94,...,1,Nunavut,The Northern Territories,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,10/20/2010,NaN
1,17,97,1/28/2010,Medium,26,75.57,0.03,Regular Air,28.24,2.89,...,341,Yukon,The Northern Territories,Consumer,Office Supplies,Labels,Avery 498,Small Box,1/29/2010,NaN
2,30,195,12/27/2010,Medium,34,1315.74,0.03,Regular Air,260.87,36.55,...,362,Yukon,The Northern Territories,Home Office,Office Supplies,Pens & Art Supplies,"Dixon Ticonderoga Core-Lock Colored Pencils, 4...",Wrap Bag,12/29/2010,NaN
3,34,224,6/17/2009,Not Specified,33,528.50,0.04,Regular Air,-149.92,15.42,...,456,Yukon,The Northern Territories,Corporate,Office Supplies,Storage & Organization,"Decoflex Hanging Personal Folder File, Blue",Small Box,6/18/2009,NaN
4,33,224,6/17/2009,Not Specified,44,267.85,0.04,Regular Air,-65.43,5.98,...,456,Yukon,The Northern Territories,Corporate,Office Supplies,Paper,Xerox 193,Small Box,6/18/2009,NaN

# For the customers.csv

In [20]:
# Customers dataframe
customers_df

     CUSTOMER_ID       CUSTOMER_NAME CUSTOMER_TYPE
0              1  Muhammed MacIntyre      Type - E
1              2        Barry French      Type - H
2              3       Clay Rozendal      Type - L
3              4      Carlos Soltero      Type - O
4              5        Carl Jackson      Type - N
..           ...                 ...           ...
790          791         Cyma Kinney      Type - Y
791          792            Shui Tom      Type - M
792          793    Victoria Brennan      Type - N
793          794        Adrian Shami      Type - I
794          795        Harry Greene      Type - E

[795 rows x 3 columns]

In [32]:
# Merge the previous df and customers df on "CUSTOMER_ID" so we can see the Customer_name and type
merged2 = pd.merge(merged, customers_df, on="CUSTOMER_ID", how="inner")
merged2

,ROW_ID,ORDER_ID,ORDER_DATE,PRIORITY,QUANTITY,SALES,DISCOUNT,MODE,PROFIT,UNIT_PRICE,...,REGION,SEGMENT,CATEGORY,SUB_CATEGORY,PRODUCT_NAME,PRODUCT_CONTAINER,SHIP_DATE,MANAGER,CUSTOMER_NAME,CUSTOMER_TYPE
0,1,3,10/13/1982,Low,6,261.54,0.04,Regular Air,-213.25,38.94,...,The Northern Territories,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,10/20/2010,NaN,Muhammed MacIntyre,Type - E
1,1930,13795,4/10/2011,Not Specified,37,1302.99,0.02,Regular Air,545.49,35.44,...,The Northern Territories,Small Business,Office Supplies,Paper,Xerox 1932,Small Box,4/11/2011,NaN,Muhammed MacIntyre,Type - E
2,1929,13795,4/10/2011,Not Specified,23,275.16,0.05,Express Air,43.35,11.34,...,The Northern Territories,Small Business,Office Supplies,Paper,Xerox 188,Small Box,4/13/2011,NaN,Muhammed MacIntyre,Type - E
3,1928,13795,4/10/2011,Not Specified,30,501.32,0.04,Regular Air,-119.08,15.99,...,The Northern Territories,Small Business,Office Supplies,Binders and Binder Accessories,"GBC Pre-Punched Binding Paper, Plastic, White,...",Small Box,4/13/2011,NaN,Muhammed MacIntyre,Type - E
4,2384,17286,9/21/2010,High,7,1810.67,0.09,Delivery Truck,-541.87,270.98,...,The Northern Territories,Small Business,Furniture,Chairs & Chairmats,Global Enterprise Series Seating High-Back Swi...,Jumbo Drum,9/22/2010,NaN,Muhammed MacIntyre,Type - E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8394,8347,59680,6/18/2012,Critical,15,17.77,0.05,Regular Air,-37.67,0.99,...,The Atlantic Provinces,Consumer,Technology,Computer Peripherals,"Sony IBM Color Diskettes, 25/Pack",Small Box,6/19/2012,Erin,Katherine Hughes,Type - S
8395,3187,22880,5/30/2010,Medium,13,24.96,0.01,Regular Air,-20.68,1.70,...,The Atlantic Provinces,Small Business,Technology,Computer Peripherals,BASF Silver 74 Minute CD-R,Small Box,6/2/2010,Erin,Bradley Talbott,Type - T
8396,7041,50276,2/14/2011,Not Specified,34,390.35,0.05,Regular Air,71.03,11.55,...,The Atlantic Provinces,Small Business,Office Supplies,Pens & Art Supplies,Newell 309,Wrap Bag,2/15/2011,Erin,Bradley Talbott,Type - T
8397,7961,56900,11/26/2011,Not Specified,16,54.32,0.09,Regular Air,16.11,3.41,...,The Atlantic Provinces,Small Business,Office Supplies,Rubber Bands,Advantus SlideClip Paper Clips,Wrap Bag,11/28/2011,Erin,Bradley Talbott,Type - T
8398,7974,57056,11/8/2012,Low,29,2185.61,0.01,Delivery Truck,-2897.25,70.89,...,The Atlantic Provinces,Corporate,Furniture,Tables,KI Conference Tables,Jumbo Box,11/15/2012,Erin,Bradley Talbott,Type - T

# For the Returns.csv

In [30]:
# Returns dataframe
returns_df

     ORDER_ID ORDER_STATUS
0          65     Returned
1          69     Returned
2         134     Returned
3         135     Returned
4         230     Returned
..        ...          ...
567     59680     Returned
568     59683     Returned
569     59776     Returned
570     59879     Returned
571     59937     Returned

[572 rows x 2 columns]

In [33]:
# Merge the previous df and returns df on "ORDER_ID" so we can see the Order (Return) Status  
final_merge = pd.merge(merged2, returns_df, on="ORDER_ID", how="outer")
final_merge

,ROW_ID,ORDER_ID,ORDER_DATE,PRIORITY,QUANTITY,SALES,DISCOUNT,MODE,PROFIT,UNIT_PRICE,...,SEGMENT,CATEGORY,SUB_CATEGORY,PRODUCT_NAME,PRODUCT_CONTAINER,SHIP_DATE,MANAGER,CUSTOMER_NAME,CUSTOMER_TYPE,ORDER_STATUS
0,1,3,10/13/1982,Low,6,261.54,0.04,Regular Air,-213.25,38.94,...,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,10/20/2010,NaN,Muhammed MacIntyre,Type - E,NaN
1,1930,13795,4/10/2011,Not Specified,37,1302.99,0.02,Regular Air,545.49,35.44,...,Small Business,Office Supplies,Paper,Xerox 1932,Small Box,4/11/2011,NaN,Muhammed MacIntyre,Type - E,NaN
2,1929,13795,4/10/2011,Not Specified,23,275.16,0.05,Express Air,43.35,11.34,...,Small Business,Office Supplies,Paper,Xerox 188,Small Box,4/13/2011,NaN,Muhammed MacIntyre,Type - E,NaN
3,1928,13795,4/10/2011,Not Specified,30,501.32,0.04,Regular Air,-119.08,15.99,...,Small Business,Office Supplies,Binders and Binder Accessories,"GBC Pre-Punched Binding Paper, Plastic, White,...",Small Box,4/13/2011,NaN,Muhammed MacIntyre,Type - E,NaN
4,2384,17286,9/21/2010,High,7,1810.67,0.09,Delivery Truck,-541.87,270.98,...,Small Business,Furniture,Chairs & Chairmats,Global Enterprise Series Seating High-Back Swi...,Jumbo Drum,9/22/2010,NaN,Muhammed MacIntyre,Type - E,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8394,8347,59680,6/18/2012,Critical,15,17.77,0.05,Regular Air,-37.67,0.99,...,Consumer,Technology,Computer Peripherals,"Sony IBM Color Diskettes, 25/Pack",Small Box,6/19/2012,Erin,Katherine Hughes,Type - S,Returned
8395,3187,22880,5/30/2010,Medium,13,24.96,0.01,Regular Air,-20.68,1.70,...,Small Business,Technology,Computer Peripherals,BASF Silver 74 Minute CD-R,Small Box,6/2/2010,Erin,Bradley Talbott,Type - T,NaN
8396,7041,50276,2/14/2011,Not Specified,34,390.35,0.05,Regular Air,71.03,11.55,...,Small Business,Office Supplies,Pens & Art Supplies,Newell 309,Wrap Bag,2/15/2011,Erin,Bradley Talbott,Type - T,NaN
8397,7961,56900,11/26/2011,Not Specified,16,54.32,0.09,Regular Air,16.11,3.41,...,Small Business,Office Supplies,Rubber Bands,Advantus SlideClip Paper Clips,Wrap Bag,11/28/2011,Erin,Bradley Talbott,Type - T,NaN
8398,7974,57056,11/8/2012,Low,29,2185.61,0.01,Delivery Truck,-2897.25,70.89,...,Corporate,Furniture,Tables,KI Conference Tables,Jumbo Box,11/15/2012,Erin,Bradley Talbott,Type - T,NaN

In [37]:
# Save the data cleaned for analysis
output_data_exc = "output/data_cleaned.xlsx"
output_data_csv = "output/data_cleaned.csv"

final_merge.to_csv(output_data_csv, index = True)
final_merge.to_excel(output_data_exc, index = True)